.footer__copyright {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21.78px;
  font-size: 18px;
  margin: 0;
}

.footer {
  margin: 0 auto;
  max-width: 880px;
  position: relative;
  padding-top: 67px;
  padding-bottom: 60px;
  width: 100%;
}
@media screen and (max-width: 540px) {
  .footer {
    margin: 0;
    padding: 48px 19px 36px 19px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: normal;
  }
}

@media screen and (max-width: 800px) and (min-width: 541px) {
  .footer {
    width: 100%;
  }
}
