.page {
  background-color: black;
  color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 19px;
  padding-right: 19px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 540px) {
  .page {
    max-width: 540px;
  }

  .page__content {
    padding: 0;
  }
}

@media screen and (max-width: 800px) and (min-width: 541px) {
  .page {
    max-width: 800px;
  }
}
